
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">

            <!-- Button trigger modal -->
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Registrar Pacientes
            </button>

        </div><!-- /.container-fluid -->
        <br />
        <div id="messageSuccess" class="text-center text-capitalize text-bold"></div>
        <div class="table-responsive-sm">
            <table class="table" id="idTable">
                <caption>Lista De Pacientes</caption>
                <thead>

                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">1er Apellido</th>
                        <th scope="col">2do Apellido</th>
                        <th scope="col">Genero</th>
                        <th scope="col">Estado Civil</th>
                        <th scope="col">CEDULA</th>
                        <th scope="col">Telefono</th>
                        <th scope="col">Direccion</th>
                        <th scope="col">ARS</th>
                        <th scope="col">Editar</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody id="itemTable">
                    @if (ViewBag.listing != null)
                    {


                        @foreach (var item in ViewBag.listing)
                        {

                            <tr>

                                <td id="jsname">@item.Name</td>
                                <td id="jslastName">@item.LastName</td>
                                <td id="jsmotherLastName">@item.MotherLastName</td>
                                <td id="jsgender"> @item.Gender</td>
                                <td id="jscivilStatus">@item.CivilStatus</td>
                                <td id="jscivilStatus">@item.Dni</td>
                                <td id="jsdni">@item.Phone</td>
                                <td id="jsphone">@item.Address</td>
                                <td id="jsname">
                                    @if (@item.Ars == 1)
                                    {
                                        <span class="text-green"><strong>Si</strong></span>
                                    }
                                    else
                                    {
                                        <span class="text-red">No</span>
                                    }
                                </td>
                                <td>

                                    <button onclick="IdSaves(@item.IdCustomer); EditCustomerModal('@item.Name','@item.LastName','@item.MotherLastName','@item.Gender','@item.CivilStatus','@item.Dni','@item.Phone','@item.Address','@item.Ars')"
                                            data-toggle="modal" data-target="#updateModal" class="btn btn-outline-warning">
                                        Editar
                                    </button>
                                </td>
                                <td>

                                    <input type="hidden" name="idHidden" value="{@item.IdCustomer}" />
                                    <button onclick="IdSaves(@item.IdCustomer)" data-toggle="modal" data-target="#deleteModal" class="btn btn-outline-danger">
                                        Eliminar
                                    </button>
                                    <!-- Modal eliminar-->
                                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header text-center">
                                                    <h5 class="modal-title  text-red" id="exampleModalLabel">
                                                        <i class="fa fa-trash" aria-hidden="true"></i>
                                                        Eliminando Registro
                                                    </h5>

                                                </div>
                                                <form onclick="stopDefAction(event);">

                                                    <div class="modal-body text-center">
                                                        <h5>
                                                            Estas a punto de ELIMINAR este registro.
                                                        </h5>
                                                        <p class="text-red">Esta accion no es REVERSIBLE!!.</p>
                                                        <p>Si estas seguro de lo que intentas realizar presiona Eliminar.</p>

                                                    </div>

                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary  row-cols-sm-3"
                                                                data-dismiss="modal">
                                                            Cancelar
                                                        </button>
                                                        <button type="submit" class="btn btn-danger  col-sm-9" onclick="SendId()">
                                                            Eliminar Registro
                                                        </button>

                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                </td>




                            </tr>

                        }
                    }


                </tbody>
            </table>

        </div>
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <!-- /.content -->
</div><!-- fin del contenedor -->
<!-- Modal Crear nuevo cliente-->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registro De Nuevos Pacientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form onclick="stopDefAction(event);" >
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Nombre.:
                        </label>
                        <div class="col-sm-10">
                            <input onkeypress="ValidateName()" required class="form-control" name="_name" placeholder="Nombre" >
                        </div>
                        <span id="errorName" class="text-red"></span>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Apellido.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="_lastName" placeholder="Apellido Paterno">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">

                            Apellido.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="_motherLastname" placeholder="Apellido Materno">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Cedula.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="_dni" placeholder="Numero De Cedula">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Direccion.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="_address" placeholder="Direccion">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Telefono.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="_phone" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-info" type="button">Estado Civil</button>
                        </div>
                        <select class="custom-select" name="_civilStatus">
                            <option selected>Seleccione Aqui...</option>
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Union Libre">Union Libre</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-info" type="button">Genero</button>
                        </div>
                        <select class="custom-select" name="_gender">
                            <option selected>Seleccione Aqui...</option>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                            <option value="No Sabe">No Sabe</option>
                        </select>
                    </div>
                    <!--<div class="col_one_third col_last c-azul">
                                    <label for="nacimiento">Fecha de nacimiento<small></small></label>
                                    <input type="date" name="date" class="sm-form-control">
                    </div>-->
                    <div class="form-group row">
                        <div class="col-sm-2">ARS</div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input checked class="form-check-input" type="checkbox" name="_ars" value="1"> Marcar Si El Paciente Tiene Seguro Medico
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="button" class="btn btn-secondary col-sm-3" data-dismiss="modal">Cancelar</button>
                        <div style="padding-left:20px"></div>

                        <button id="btnInsert" type="submit" onclick="SendDateInsert()" class="btn btn-success col-sm-8">Registrar Paciente</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- Modal actualizar cliente-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Informacion De LosPacientes</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form onclick="stopDefAction(event);">
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Nombre.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="name" id="name" placeholder="Nombre">
                        </div>
                        <span id="errorName" class="text-red"></span>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Apellido.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="lastName" id="lastName" placeholder="Apellido Paterno">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Apellido.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="motherLastname" id="motherLastname" placeholder="Apellido Materno">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Cedula.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="dni" id="dni" placeholder="Numero De Cedula">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Direccion.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="address" id="address" placeholder="Direccion">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Telefono.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="phone" id="phone" placeholder="Telefono">
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-info" type="button">Estado Civil</button>
                        </div>
                        <select class="custom-select" name="civilStatus" id="civilStatus">
                            <option selected>Seleccione Aqui...</option>
                            <option value="Soltero">Soltero</option>
                            <option value="Casado">Casado</option>
                            <option value="Union Libre">Union Libre</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-info" type="button">Genero</button>
                        </div>
                        <select class="custom-select" name="gender" id="gender">
                            <option selected>Seleccione Aqui...</option>
                            <option value="Hombre">Hombre</option>
                            <option value="Mujer">Mujer</option>
                            <option value="No Sabe">No Sabe</option>
                        </select>
                    </div>

                    <!--<div class="col_one_third col_last c-azul">
                                    <label for="nacimiento">Fecha de nacimiento<small></small></label>
                                    <input type="date" name="date" class="sm-form-control">
                    </div>-->
                    <!--<div class="form-group">
                        <label class="custom-control custom-checkbox">
                            <input type="checkbox" value="2" name="chbxTerms" class="custom-control-input">
                            <span class="custom-control-label" for="chbxTerms">Custom checkbox</span>
                        </label>
                    </div>-->

                    <div class="form-group row">
                        <div class="col-sm-2">ARS</div>
                        <div class="col-sm-10">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-group" type="checkbox" name="ars" id="ars"> Marcar Si El Paciente Tiene Seguro Medico
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group row">
                        <button type="button" class="btn btn-secondary col-sm-3" data-dismiss="modal">Cancelar</button>
                        <div style="padding-left:20px"></div>

                        <button type="submit" class="btn btn-success col-sm-8" onclick="SendDateUpdate()">Actualizar Paciente</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>


<script src="~/js/customer.js"></script>
