<!--<span class="right badge badge-danger">New</span>-->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->

    <div class="container-fluid">

        <!-- Button trigger modal -->
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#UserModal">
            Crear Usuarios
        </button>


    </div><!-- /.container-fluid -->
    <br />
    <div id="messageSuccess" class="text-center text-bold"></div>
    <div class="row">
        <div class="col-6">
            <div class="table-responsive">
                <table class="table" id="idTable">
                    <caption>Lista de Doctores</caption>
                    <thead>

                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="itemTable">
                        @if (ViewBag.listingDoctor != null)
                        {


                            @foreach (var item in ViewBag.listingDoctor)
                            {

                                <tr>

                                    <td id="">@item.NameDoctor</td>
                                    <td id="">@item.UserName</td>
                                    <td id="">
                                        @if (item.IdRol == 2)
                                        {
                                            <span class="right badge badge-primary">Doctor</span>
                                        }

                                    </td>
                                    <td>

                                        <button onclick="EditUserModal('@item.NameDoctor','@item.LastNameDoctor','@item.UserName','@item.IdRol','@item.IdDoctor')"
                                                data-toggle="modal" data-target="#updateModal" class="btn btn-outline-warning">
                                            <i class="fas fa-user-edit"></i>
                                        </button>
                                    </td>
                                    <td>


                                        <button data-toggle="modal" onclick="DeleteUserModal('@item.IdLogin')" data-target="#deleteModal" class="btn btn-outline-danger">
                                            <i class="far fa-trash-alt"></i>
                                        </button>

                                    </td>




                                </tr>

                            }
                        }


                    </tbody>
                </table>

            </div>
        </div>
        <div class="col-6">
            <div class="table-responsive">
                <table class="table" id="idTable">
                    <caption>Lista de Secretarias</caption>
                    <thead>
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">Usuario</th>
                            <th scope="col">Rol</th>
                            <th scope="col">Editar</th>
                            <th scope="col">Eliminar</th>
                        </tr>
                    </thead>
                    <tbody id="itemTable">
                        @if (ViewBag.listingSecretary != null)
                        {
                            @foreach (var item in ViewBag.listingSecretary)
                            {
                                <tr>
                                    <td id="">@item.NameSecretary</td>
                                    <td id="">@item.UserName</td>
                                    <td id="">
                                        @if (item.IdRol == 1)
                                        {
                                            <span class="right badge badge-success">Secretaria</span>
                                        }

                                    </td>
                                    <td>

                                        <button onclick="EditUserModal('@item.NameSecretary','@item.LastNameSecretary','@item.UserName','@item.IdRol','@item.IdSecretary')"
                                                data-toggle="modal" data-target="#updateModal" class="btn btn-outline-warning">
                                            <i class="fas fa-user-edit"></i>
                                        </button>
                                    </td>
                                    <td>

                                        <button onclick="DeleteUserModal('@item.IdLogin')" data-toggle="modal" data-target="#deleteModal" class="btn btn-outline-danger">
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                      


                                    </td>

                                </tr>

                            }
                        }


                    </tbody>
                </table>

            </div>
        </div>

    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <!-- /.content -->
</div><!-- fin del contenedor -->
<!-- Modal Crear nuevo usuario-->
<div class="modal fade" id="UserModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Registrar Usuarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form onclick="stopDefAction(event);">
                    <small id="errorTypeUser" class="text-red"></small>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-info" id="buttonErro" type="button">Tipo de usuario a registrar</button>
                        </div>
                        <select class="custom-select" onchange="GetUserType()" id="userType">
                            <option selected value="0">Seleccione Aqui...</option>
                            <option value="2">Doctor</option>
                            <option value="1">Secretaria</option>
                            <option value="3">Administrador</option>
                        </select>
                    </div>
                    <small id="errorUserSelect" class="text-red"></small>
                    <div class="input-group mb-3" id="userTypeSelect">
                    </div>

                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Correo.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="_userName" placeholder="Correo electronico">
                            <small id="errorUserName" class="text-red"></small>
                            <small id="errorUserName" class="text-red"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">
                            Contrase&ntilde;a.:&nbsp;
                        </label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="_password" placeholder="Contrase&ntilde;a">
                            <small id="errorPassword" class="text-red"></small>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-3 col-form-label">
                            Contrase&ntilde;a.:&nbsp;
                        </label>
                        <div class="col-sm-9">
                            <input type="password" class="form-control" name="passwordRepeat" placeholder=" Repita su contrase&ntilde;a">
                            <small id="errorPasswordRepeat" class="text-red"></small>
                            <small id="errorPasswordNoMatch" class="text-red"></small>
                        </div>
                    </div>

                    <div class="form-group row">
                        <button type="button" class="btn btn-secondary col-sm-3" data-dismiss="modal">Cancelar</button>
                        <div style="padding-left:20px"></div>

                        <button type="submit" onclick="ValidateForm()" class="btn btn-success col-sm-8">Registrar Usuario</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- Modal actualizar cliente-->
<div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Actualizar Usuarios</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <form onclick="stopDefAction(event);">
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Nombre.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="name" placeholder="Nombre" readonly>
                        </div>
                        <span id="errorName" class="text-red"></span>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Apellido.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="lastName" placeholder="Apellido" readonly>
                        </div>
                        <span id="errorName" class="text-red"></span>
                    </div>
                    <div class="form-group row">
                        <label for="" class="col-sm-2 col-form-label">
                            Usuario.:
                        </label>
                        <div class="col-sm-10">
                            <input class="form-control" name="userName" placeholder="Nombre de usuario">
                        </div>
                        <span id="errorName" class="text-red"></span>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-info" type="button">Tipo de usuario a registrar</button>
                        </div>
                        <select class="custom-select" onchange="GetUserType()" id="_userType">
                            <option selected value="0">Seleccione Aqui...</option>
                            <option value="2">Doctor</option>
                            <option value="1">Secretaria</option>
                            <option value="3">Administrador</option>
                        </select>
                    </div>
                    <input type="hidden" name="idHidden" />
                    <div class="form-group row">
                        <button type="button" class="btn btn-secondary col-sm-3" data-dismiss="modal">Cancelar</button>
                        <div style="padding-left:20px"></div>

                        <button type="submit" onclick="SendDataUpdate()" class="btn btn-success col-sm-8">Registrar Usuario</button>
                    </div>
                </form>

            </div>

        </div>
    </div>
</div>

<!-- Modal eliminar-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title  text-red" id="exampleModalLabel">
                    <i class="fa fa-trash" aria-hidden="true"></i>
                    Eliminando Registro
                </h5>

            </div>
            <form onclick="stopDefAction(event);">

                <div class="modal-body text-center">
                    <h5>
                        Estas a punto de ELIMINAR este registro.
                    </h5>
                    <p class="text-red">Esta accion no es REVERSIBLE!!.</p>
                    <p>Si estas seguro de lo que intentas realizar presiona Eliminar.</p>

                </div>
                <input type="hidden" id="idHiddenDelete" />
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary  row-cols-sm-3"
                            data-dismiss="modal">
                        Cancelar
                    </button>
                    <button onclick="DeleteUser()" type="submit" class="btn btn-danger  col-sm-9">
                        Eliminar Registro
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>

<style>
    .sucess-input {
        border-color: green;
    }

    .erro-input {
        border-color: red;
    }
</style>
<script src="~/js/user.js"></script>
